.toolbar{
  background-color: #E4C9AE;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.sidenav {
  background-color: #FFF8F1;
}
.sidenav-container {
  background-color: white;
}

.profile-container {
  background-color: #F9EDE1;
}

.mat-action-list {
  margin: 0;
  padding: 0;
}

.menu-icon {
  color: white;
}


.profile-name .name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-container {
  min-height: 100vh;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-content {
  max-width: 1200px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: #666;
  border: 1px solid transparent;
}

.main-content {
  min-height: calc(100vh - 80px);
}

.row {
  display: grid;
  justify-content: space-between;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
