<ng-container *ngIf="isLoggedIn()">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Note Manager</span>
    </div>
    <div class="search-section" *ngIf="isOnNotesPage()">
<!--      <input-->
<!--        type="text"-->
<!--        [(ngModel)]="searchTitle"-->
<!--        placeholder="In Notiz-Titel suchen..."-->
<!--        (keyup)="searchNotes()"-->
<!--        class="search-input">-->
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-action-list>
        <div class="profile-container">
          <div class="profile-row">
            <div class="profile-col">
              <div class="profile-name">
                <h3 class="name">
                  <mat-icon>account_circle</mat-icon>
                  Hallo, {{ username() }}!
                </h3>
              </div>
            </div>
            <div class="profile-col profile-logout">
              <button matButton color="danger" (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/notebooks" [class.active]="getCurrentRoute().includes('/notebooks')" class="nav-link">
          Alle Notizbücher
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/notes" [class.active]="getCurrentRoute().includes('/notes')" class="nav-link">
          Alle Notizen
        </mat-list-item>
      </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="!isLoggedIn()">
  <router-outlet></router-outlet>
</ng-container>
