<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <label for="username">Username:</label>
  <input id="username" formControlName="username" name="username" required />
  <label for="password">Password:</label>
  <input id="password" formControlName="password" name="password" type="password" required />
  <button type="submit">Login</button>
  <a routerLink="/register" style="margin-left: 1rem;">Register</a>
  <div *ngIf="loginError" style="color:red;">Login failed. User not found.</div>
  <div *ngIf="loginSuccess" style="color:green;">Login successful! Redirecting...</div>
</form>
