<form (ngSubmit)="onRegister()">
  <label for="username">Username:</label>
  <input id="username" [(ngModel)]="username" name="username" required />
  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="password" name="password" type="password" required />
  <button type="submit">Register</button>
  <a routerLink="/login" style="margin-left: 1rem;">Back to Login</a>
  <div *ngIf="registerError" style="color:red;">Registration failed. Try another username.</div>
  <div *ngIf="registerSuccess" style="color:green;">Registration successful! Redirecting...</div>
</form>
