<div class="register-container">
  <h2>Konto erstellen</h2>
  
  <form (ngSubmit)="onRegister()" class="register-form">
    <div class="form-group">
      <label for="username">Benutzername:</label>
      <input 
        id="username" 
        [(ngModel)]="username" 
        name="username" 
        required 
        placeholder="Benutzername eingeben" />
    </div>

    <div class="form-group">
      <label for="firstName">Vorname:</label>
      <input 
        id="firstName" 
        [(ngModel)]="firstName" 
        name="firstName" 
        required 
        placeholder="Vorname eingeben" />
    </div>

    <div class="form-group">
      <label for="lastName">Nachname:</label>
      <input 
        id="lastName" 
        [(ngModel)]="lastName" 
        name="lastName" 
        required 
        placeholder="Nachname eingeben" />
    </div>

    <div class="form-group">
      <label for="email">E-Mail:</label>
      <input 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        type="email" 
        required 
        placeholder="E-Mail-Adresse eingeben" />
    </div>

    <div class="form-group">
      <label for="password">Passwort:</label>
      <input 
        id="password" 
        [(ngModel)]="password" 
        name="password" 
        type="password" 
        required 
        placeholder="Passwort eingeben" />
    </div>

    <button type="submit" class="register-btn">Konto erstellen</button>
    
    <a routerLink="/login" class="login-link">
      Bereits ein Konto? Hier anmelden
    </a>
  </form>

  <div *ngIf="registerError" class="error-message">
    Registrierung fehlgeschlagen. Bitte versuchen Sie es erneut.
  </div>
  <div *ngIf="registerSuccess" class="success-message">
    Registrierung erfolgreich! Weiterleitung...
  </div>
</div>
